.about-us-page {
  .who-are-we {
    img {
      object-fit: cover;
      width: 100%;
    }
    p {
      object-fit: contain;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #272b2e;
    }
  }
  .our-goals {
    .images-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      .image {
        width: 336px;
        height: 300px;
        text-align: center;
      }
      p {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #272b2e;
      }
    }
  }
  .we-are-realize {
    .logos-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      .logo {
        width: 264px;
        height: 133px;
      }
    }
    img {
      display: block;
      object-fit: cover;
      width: 100%;
    }
    .text-container {
      object-fit: contain;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.85;
      letter-spacing: normal;
      color: #000000;
    }

    .text-container-purple {
      background: #35285d;
      width: 100%;
      p {
        color: #fff;
        @media screen and (max-width: 576px) {
          margin-left: 15px!important;
        }
      }
      .bold-text {
        font-weight: bold;
      }
    }
  }
}
