.promo-block {
  position: relative;
  .container-fluid {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .promo-img {
    width: 100%;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .promo-text {
    position: absolute;
    bottom: 46px;
    left: 346px;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.29;
    color: #ffffff;
    margin-bottom: 0;
    @media (max-width: 576px) {
      bottom: 0px;
      left: 0px;
      text-shadow: 1px 1px 1px black;
      font-size: 28px;
    }
    @media (max-width: 768px) {
      bottom: 0px;
      left: 0px;
      text-shadow: 1px 1px 1px black;
      font-size: 28px;
    }
  }
}

.about-block {
  padding-top: 60px;
  .main-text {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: normal;
    color: $black;
    margin-bottom: 55px;
  }
  .title {
    color: $black;
    font-size: 36px;
    font-weight: bold;
    line-height: 58px;
    @media (max-width: 576px) {
      font-size: 30px;
    }
  }
  .about-op-container {
    display: flex;
    flex-wrap: wrap;

    .about-op-item {
      position: relative;
      width: 250px;
      margin-right: 55px;
      @media (min-width: 576px) {
        width: 27%;
        margin-left: 80px;
        margin-right: 30px;
      }
      .text {
        font-weight: 500;
        line-height: 1.57;
        font-size: 14px;
        color: #322e2e;
        margin-bottom: 60px;
      }
      &.item-1 {
        &:before {
          content: url(../assets/images/op1.svg);
          position: absolute;
          top: 10px;
          left: -70px;
          @media (max-width: 576px) {
            content: '';
          }
        }
      }
      &.item-2 {
        &:before {
          content: url(../assets/images/op2.svg);
          position: absolute;
          top: 10px;
          left: -70px;
          @media (max-width: 576px) {
            content: '';
          }
        }
      }
      &.item-3 {
        &:before {
          content: url(../assets/images/op3.svg);
          position: absolute;
          top: 10px;
          left: -70px;
          @media (max-width: 576px) {
            content: '';
          }
        }
      }
    }
  }

}

.about-w-num-block {
  padding-top: 65px;
  .text {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    color: #282b2d;
    margin-bottom: 0;
    position: relative;
    margin-bottom: 42px;
  }
  img {
    width: 90px;
    height: 128px;
    position: absolute;
    top: 0;
  }
  ul {
    padding-left: 0;
    list-style: none;
    li {
      font-size: 14px;
      font-weight: 500;
      line-height: 2;
      color: #282b2d;
    }
  }
}

.green-block {
  background: #0cab5c;
  color: white;
  padding-top: 70px;
  padding-bottom: 84px;
  padding-left: 59px;
  padding-right: 20px;
  @media (max-width: 576px) {
    padding: 0px;
    padding-left: 40px;
    padding-top: 20px;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 51px;
  }
  ul {
    padding-left: 0;
    list-style: none;
    // font-family: "Gotham Pro Narrow",sans-serif;
    li {
      position: relative;
      margin-bottom: 36px;
      &:last-of-type {
        margin-bottom: 0;
      }
      &:before {
        width: 18px;
        height: 18px;
        content: '';
        position: absolute;
        left: -38px;
        top: 2px;
        background: #282b2d;
        border-radius: 100%;
      }
      .action {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.1;
        color: #ffffff;
        margin-bottom: 8px;
      }
      .date {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3;
        color: #b7f0bb;
        margin-bottom: 0;
      }
    }

  }
}
.custom__pl-5_pr-0 {
  padding-left: 3rem!important;
  padding-right: 0!important;
  @media (max-width: 576px) {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
.custom__px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.competition-block {
  .heading-highlighted {
    margin-bottom: 51px;
  }
  .procedure-item {
    margin-bottom: 65px;
    &:last-of-type {
      margin-bottom: 50px;
    }
    &.item-1 {
      position: relative;
      &:before {
        content: '1';
        position: absolute;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 900;
        color: #0cab5c;
        left: -36px;
        top: 0;
      }
    }
    &.item-2 {
      position: relative;
      &:before {
        content: '2';
        position: absolute;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 900;
        color: #0cab5c;
        left: -36px;
        top: 0;
      }
    }
    &.item-3 {
      position: relative;
      &:before {
        content: '3';
        position: absolute;
        font-size: 20px;
        line-height: 1.1;
        font-weight: 900;
        color: #0cab5c;
        left: -36px;
        top: 0;
      }
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.1;
      color: #282b2d;
      margin-bottom: 29px;
    }
    .text {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      color: #282b2d;
      margin-bottom: 29px;
    }
    .collapse-control {

      a {
        width: 100%;
        display: block;
        font-family: 'Gotham Pro Bold';
        background-color: #d8f0e4;
        padding-left: 19px;
        padding-top: 7px;
        padding-bottom: 9px;
        font-size: 14px;
        font-weight: 500;
        line-height: 2;
        color: #282b2d;
        &:hover {
          background-color: #ddf0d8;
          text-decoration: none;
        }
        img {
          margin-left: 8px;
        }
        &[aria-expanded=true] {
          img {
            transform: rotateX(180deg)
          }
        }
      }
    }
    .collapsed-block {
      .content {
        display: flex;
        flex-wrap: wrap;
        padding-left: 21px;
        padding-top: 47px;
        padding-bottom: 51px;
        background-color: rgba(216, 240, 228, 0.48);
        p, li {
          font-family: 'Gotham Pro Bold';
          font-size: 14px;
          font-weight: 500;
          line-height: 2;
          color: #282b2d;
        }
        p {
          margin-bottom: 38px;
        }
        ul {
          padding-left: 0;
          list-style: none;
        }
        .criteria-block {
          margin-right: 69px;
          max-width: 470px;
        }
      }
    }
  }
}

.application-section {
  margin-bottom: 72px;

  .application-block {
    position: relative;
    background-color: #0cab5c;
    padding-left: 128px;
    padding-top: 56px;
    padding-bottom: 65px;
    padding-right: 558px;
    text-align: center;
    @media (max-width: 576px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    .logo {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-35px);
      @media (max-width: 576px) {
        position: unset;
      }
    }
    .title {
      font-size: 36px;
      font-weight: bold;
      line-height: normal;
      color: #ffffff;
      margin-bottom: 64px;
      max-width: 750px;
    }
    .input-container {
      margin-bottom: 30px;
      max-width: 750px;
      position: relative;
      label {
        position: absolute;
        color: #c5e1c3;
        font-size: 14px;
        top: 2px;
        transition: all .2s;
        z-index: 1;
        &.input-filled {
          top: -20px
        }
      }
      textarea, input {
        position: relative;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: white;
        padding-bottom: 9px;
        padding-left: 0;
        padding-top: 0;
        border: 0;
        border-radius: 0;
        background: transparent;
        outline: none;
        border-bottom: 3px solid white;
        z-index: 2;
        &::placeholder {
          color: transparent;
        }
        @media (max-width: 576px) {
          margin-top: 10px;
        }
      }
    }
    .file-input-container {
      margin-bottom: 31px;
      button {
        font-size: 14px;
        font-weight: 500;
        line-height: 2;
        color: #ffffff;
        background: transparent;
        border: 0;
        img {
          margin-right: 11px;
          height: 15px;
          width: 17px;
        }
      }
    }
    .text-container {
      max-width: 850px;
      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 2;
        color: #ffffff;
        margin-bottom: 30px;
      }
    }
    .apply-block {
      max-width: 750px;
      button {

        background-color: white;
        border: 3px solid #0cab5c;
        color: #0cab5c;
        border-radius: 7px;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
        font-size: 17px;
        font-weight: 500;
        line-height: 15px;
        padding: 15px 31px;
        transition: all .3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.slider-block {
  .owl-stage-outer {
    padding-left: 8rem;
  }
  .heading-highlighted {
    margin-bottom: 37px;
  }
  .slider-container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    .slider-fade {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      width: 183px;
      height: 319px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
      .btn-arrow {
        position: absolute;
        right: 46px;
        top: 28px;
        border: 0;
        border-radius: 100%;
        width: 66px;
        height: 66px;
        background-color: #0cab5c;
        display: flex;
        &:hover {
          background-color: #076d3a;
        }
        img {
          margin: auto;
          object-fit: cover;
        }
      }
    }
    .owl-carousel {
      z-index: 2;
      position: relative;
    }
  }
  .slider-item {
    width: 698px;
    .text-block {
      border: 4px solid #0cab5c;
      padding-left: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 12px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        bottom: -25px;
        width: 21px;
        height: 25px;
        left: 60px;
        background: url(../assets/images/slider-arrow.png);
        background-size: cover;
      }
      p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        color: #282b2d;
      }
    }
    .user-block {
      margin-top: 30px;
      display: flex;
      align-items: center;
      padding-left: 40px;

      .avatar {
        width: 56px;
        height: 56px;
        border-radius: 100%;
        margin-right: 15px;
        img {
          max-width: 100%;
        }
      }
      .name {
        max-width: 85px;
        p {
          font-family: "Gotham Pro Bold";
          font-size: 14px;
          font-weight: 500;
          line-height: 1.21;
          color: #282b2d;
          margin-bottom: 0;
        }
      }
    }
  }
}

.docs-block {
  margin-top: 115px;
  margin-bottom: 99px;
  .heading-highlighted {
    margin-bottom: 50px;
  }
  .doc-item {
    margin-top: 20px;
    margin-right: 130px;
    @media(max-width: 991px) {
      margin-right: 60px;
    }
    a {
      display: flex;
      align-items: center;
      img {
        margin-right: 15px;
      }
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.1;
      letter-spacing: normal;
      color: #282b2d;
      .text {
        border-bottom: 3px solid #0cab5c;
      }
      &:hover {
        text-decoration: none;
        .text {
          border-bottom-color: #08df73;
        }
      }
    }
  }
}

.contacts-block {
  padding-top: 58px;
  padding-bottom: 121px;
  background-color: #282b2d;
  .heading-highlighted {
    margin-bottom: 37px;
  }
  .link {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
  }
  .text-block {
    p {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      color: #ffffff;
    }
    .title {
      margin-bottom: 30px;
    }
  }
}

.input-file-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 48px;
  color: white;
  @media(min-width: 992px) {
    margin-bottom: 56px;
  }
  input {
    display: none;
  }
  button.btn-s {
    margin-right: 32px;
    font-size: 17px;
    @media (max-width: 991px) {
      margin-bottom: 18px;
    }
  }
  .show-input-name {
    display: none;
  }
  .file-name {
    line-height: 22px;
  }
  .btn-icon {
    margin-left: 8px;
    svg {
      fill: white
    }
  }

}

.kr-app {
  margin-left: -90px;
  margin-bottom: 17px;
  @media (max-width: 576px){
    margin-left: 0px;
    margin-bottom: 17px;
  }
  &.blue {
    background: #2f4493;
    .kr-app__block {
    }
  }
  &.pink {
    background: #cf438e;
    .kr-app__block {
      
    }
  }
  &.purple {
    
    .kr-app__block:nth-of-type(1) {
      background: #35285d;
      padding-top: 51px;
    }
    .kr-app__block:nth-of-type(2) {
      background: #4a3d74;
    }
    .kr-app__block:nth-of-type(3) {
      background: #655692;
    }
    .kr-app__block:nth-of-type(4) {
      background: #7364a3;
    }
    .kr-app__block:nth-of-type(5) {
      background: #8172b1;
    }
    .kr-app__block:nth-of-type(6) {
      background: #9989c9;
      padding-bottom: 50px;
    }
  }
  .r-label {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.39);
    margin-bottom: 24px;
  }
  &__block {
    padding-left: 84px;
    padding-top: 16px;
    padding-bottom: 22px;
    padding-right: 370px;
    @media (max-width: 576px){
      padding-right: 30px;
    }
    @media (max-width: 576px) {
      padding: 0px;
      margin: 0px;
    }
    .input-container {
      margin-bottom: 30px;
      position: relative;
      max-width: 750px;
      @media screen and (max-width: 576px) {
        margin-left: 20px;
        margin-right: 20px;
      }
      label {
        position: absolute;
        color: #c5e1c3;
        font-size: 14px;
        max-width: 650px;
        top: 2px;
        transition: all .2s;
        z-index: 1;
        &.input-filled {
          transform: translateY(-100%);
        }
      }
      textarea, input {
        position: relative;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
        color: white;
        padding-bottom: 9px;
        padding-left: 0;
        padding-top: 0;
        border: 0;
        border-radius: 0;
        background: transparent;
        outline: none;
        border-bottom: 3px solid white;
        z-index: 2;
        &::placeholder {
          color: transparent;
        }
      }
    }

  }
  &__header {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 40px;
    position: relative;
    @media screen and (max-width: 576px) {
      margin-left: 20px;
    }
    .num {
      position: absolute;
      left: -38px;
    }
  }
  &__label {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: #ffffff;
    margin-bottom: 15px;
    @media screen and (max-width: 576px) {
      padding-top: 20px;
      margin-left: 20px;
    }
  }
  &__sublabel {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: rgba(255, 255, 255, 0.39);
    margin-bottom: 15px;
    @media screen and (max-width: 576px) {
      margin-left: 20px;
    }
  }
  &.heading-highlighted {
    margin-left: 60px;
  }
  .app-checkbox {
    position: relative;
    input {
      display: none;
      &:checked {
        + label:after {
          opacity: 1;
        }
        + label:before {
          background: white;
        }
      }
    }

    label {
      padding-left: 22px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      &:before {
        content: '';
        position: absolute;
        left: 16px;
        top: 3px;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        border: 2px solid white;
        background: transparent;
      }
      &:after {
        position: absolute;
        content: '';
        left: 18px;
        width: 12px;
        height: 9px;
        background: url("/assets/images/tick.svg");
        background-size: cover;
        opacity: 0;
        transition: all .2s;
      }
    }

  }
  .app-radio {
    input {
      display: none;
      &:checked {
        + label:before {
          border-width: 4px;
        }
      }
    }

    label {
      padding-left: 22px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: white;
      &:before {
        content: '';
        position: absolute;
        left: 16px;
        top: 3px;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: 2px solid white;
        transition: all .2s;
        background: transparent;
      }
    }
  }
}

.kr-submit{
  background: #812dbd;
  color: white;
  margin: auto;
  width: 40%;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  border: 0;
  border-radius: 5px;
  height: 80px;
}

.apply-container {
  .slider-item {
    width: 100%;
    max-height: 476px;
  }
  .col {
    padding: 0;
  }

  img {
    user-select: none;
    @media screen and (max-width: 576px) {
      min-height: 200px;
      object-fit: cover;
    }
  }
  
  .apply-btn-custom {
    right: 0px;
    bottom: 50%;
    transform: rotate(270deg) translateY(140%);
  }

  .slider-container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    user-select: none;
    
    .slider-text {
      position: absolute;
      bottom: 42px;
      left: 144px;
      font-size: 55px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-shadow: 2px 2px 14px #000000;
      @media screen and (max-width: 576px){
        left: 0px;
        font-size: 30px;
        bottom: 10px;
      }
    }
    .slider-fade-left {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 183px;
      height: 100%;
      background-image: linear-gradient(to left, rgba(53, 40, 93, 0), #35285d);
      &.hide {
        display: none!important;
      }
      .btn-arrow-back {
        position: absolute;
        left: 46px;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        border: 0;
        border-radius: 100%;
        width: 66px;
        height: 66px;
        background-color: #812dbd;
        display: flex;
        z-index: 3;
        &:hover {
          background-color: #812dbd;
        }
        img {
          user-select: none;
          margin: auto;
        }
      }
    }
    
    .slider-fade-right {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      width: 183px;
      height: 100%;
      &.hide {
        display: none!important;
      }
      background-image: linear-gradient(to right, rgba(53, 40, 93, 0), #35285d);
        .btn-arrow {
        position: absolute;
        right: 46px;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        border-radius: 100%;
        width: 66px;
        height: 66px;
        background-color: #812dbd;
        display: flex;
        z-index: 3;
        &:hover {
          background-color: #812dbd;
        }
        img {
          user-select: none;
          margin: auto;
        }
      // }
      }
      .slider-item {
        width: 1440px;
        // max-height: 362px;
        img {
          object-fit: contain;
        }
    }
}
  }
}

.slider-container,
.kr-slider-container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    user-select: none;
    .owl-4 {
      .owl-item {
        // margin-right: 0px!important;
      }
    }
    .owl-1,
    .owl-2,
    .owl-3 {
      .owl-stage {
        left: 183px;
        transition: left 0.3s ease;
        @media screen and (max-width: 576px) {
          left: 0px;
        }
      }
    }
    
    .slider-text {
      position: absolute;
      bottom: 42px;
      left: 144px;
      font-size: 55px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-shadow: 2px 2px 14px #000000;
    }
    .slider-fade-left {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 183px;
      height: 100%;
      background-image: linear-gradient(to left, rgba(53, 40, 93, 0), #35285d);
      &.hide {
        display: none!important;
      }
      .btn-arrow-back {
      position: absolute;
      left: 46px;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      border: 0;
      border-radius: 100%;
      width: 66px;
      height: 66px;
      background-color: #812dbd;
      display: flex;
      z-index: 3;
      &:hover {
        background-color: #812dbd;
      }
      img {
        user-select: none;
        margin: auto;
      }
      }
    }
    
    .slider-fade-right {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      width: 183px;
      height: 100%;
      background-image: linear-gradient(to right, rgba(53, 40, 93, 0), #35285d);
      &.hide {
        display: none!important;
      }
      .btn-arrow {
        position: absolute;
        right: 46px;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        border-radius: 100%;
        width: 66px;
        height: 66px;
        background-color: #812dbd;
        display: flex;
        z-index: 3;
        &:hover {
          background-color: #812dbd;
        }
        img {
          user-select: none;
          margin: auto;
        }
      }
      .slider-item {
        // width: 1440px;
        // max-height: 362px;
        -webkit-backface-visibility: visible;
        img {
          object-fit: contain;
        }
    }
  }
  }

.white {
  color: #fff;
}

.news {
  .container-fluid {
    position: relative;
  }

  .slider-item {
    img {
      max-width: 342px;
      max-height: 221px;
      object-fit: contain;
      @media screen and (max-width: 576px) {
        max-width: 270px;
        max-height: 221px;
      }
    }
    .layer {
      background-color: rgba(8, 28, 2, 0.5);
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      max-width: 342px;
      max-height: 221px;
    }
    .text {
      position: absolute;
      bottom: 20px;
      object-fit: contain;
      font-family: 'Gotham Pro';
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      max-width: 300px;
      left: 30px;
    }
    }
    .text .heading-highlighted {
      &:before {
        left: -10px;
        width: 44px;
        height: 4px;
      }
    }
}

.opinion {

  .slider-item {
    min-width: 600px;
    @media screen and (max-width: 576px) {
      min-width: 280px;
    }
  }

  .owl-item {
    .item {
      .text {
        position: relative;
        font-size: 13px;
        font-family: "Gotham Pro";
        max-width: 880px;
        min-width: 600px;
        @media screen and (max-width: 576px) {
          // max-width: 260px;
          min-width: 0px;
        }
      }
      .text-logo {
        position: relative;
        top: 30px;
        left: 10px;
        width: 55px;
        height: 55px;
        background: url(../assets/images//opinion-logo/hram.jpg);
        background-repeat: no-repeat;
        background-size: 55px 55px;
        margin-bottom: 55px;
      }
      .text-about-person {
        position: absolute;
        bottom: 13px;
        left: 130px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
    }
  }
  .text-border {
    border: 5px solid #812dbd;
    padding: 10px;
    .text {
      padding: 50px;
      @media screen and (max-width: 576px) {
        padding: 0px;
      }
    }
    &::after {
      display: block;
      content: "";
      width: 57px;
      height: 44px;
      z-index: 3;
      background: url(../assets/images/corner.png);
      background-size: 57px 44px;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 79px;
      left: 80px;
    }
  }
  .heading-highlighted {
    margin-left: 134px;
    @media screen and (max-width: 576px) {
      margin-left: 67px;
    }
  }

  .container-fluid {
    position: relative;
  }
}

.mediateka {
  .heading-highlighted {
    margin-left: 134px;
    @media (max-width: 576px) {
      margin-left: 67px;
    }
  }
  .image-container {
    max-width: 100%;
    @media screen and (max-width:576px){
      margin-bottom: 10px;
    }
    img {
      width: 100%;
      height: 457px;
      object-fit: cover;
    }
  }
  
}

.slider-container_with-prev-next-btns {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  user-select: none;
  max-width: 976px;
  .btn-arrow-back {
    position: absolute;
    left: 46px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    border: 0;
    border-radius: 100%;
    width: 66px;
    height: 66px;
    background-color: #812dbd;
    display: flex;
    z-index: 2;
    &:hover {
      background-color: #812dbd;
    }
    img {
      user-select: none;
      margin: auto
    }
  }
  .btn-arrow {
    position: absolute;
    right: 46px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    border-radius: 100%;
    width: 66px;
    height: 66px;
    background-color: #812dbd;
    display: flex;
    z-index: 2;
    &:hover {
      background-color: #812dbd;
    }
    img {
      user-select: none;
      margin: auto
    }
  }
}

.purple-menu {
  .container-fluid {
    min-height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .col-9 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    ul {
      width: 90%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      vertical-align: middle;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 0px;
      @media (max-width: 575.98px) {
        flex-direction: column;
        text-align: left;
        padding: 10px 0px 10px 10px;
      }
      li ul {    
        max-width: max-content;
        min-width: 130px;
        position: absolute;
        display: none;
        // top: -10px;
      }
      li {
        // transform-style: preserve-3d;
      }
      li ul li {    
        text-align: left;
        a {
          font-weight: normal!important;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      li:hover a {
        z-index: 100;
      } 
      
      li:hover ul {
        display: block;
        position: absolute;
        padding: 50px 25px 0px;
        z-index: 10;
        width: auto;
        background-color: #4b3c79;
        transition: all 0.3s ease;
        transform: translateY(-40px);
      }
    }
  }
  .col-5 {
      display: none;
    }
}

@media (max-width: 576px) {
  .purple-menu {
    .container-fluid {
      min-height: unset;
    }
  }
  .purple-menu_container {
    @media screen and (max-width: 576px) {
      margin-top: 20px;
    }
    .menu-first-lvl {
      display: none!important;
      &.show {
        display: flex!important;
      }
      align-items: unset!important;
      margin-left: 40px;
      li {
        margin-bottom: 10px;
        
      }
    }
  }
  .col-3 {
    margin: auto;
  }
  .col-9 {
    nav {

    }
  }
  .col-5 {
    display: block!important;
  }
  img {
    max-width: 100%;
  }
  // vertical-align: middle;
}

.footer-block {
  min-height: 313px;
  .container-fluid {
    padding: 0!important;
    p {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      color: #ffffff;
    }
    .bold {
      font-weight: bold;
    }
    .social-contacts {
      background-color: #272b2e;
      margin-left: 0px!important; 
      margin-right: 0px!important;
      padding-top: 3rem!important;
      padding-left: 2rem!important;
      @media (max-width: 576px) {
        padding-top: 0rem!important;
        padding-left: 0rem!important;
        text-align: center;
        .row {
          justify-content: center;
          .col-sm-4:first-child {
            margin-top: 10px;
          }
          .col-sm-4:last-child{ 
            margin-top: 10px;
            margin-bottom: 20px;
          }
        }
        img {
          max-width: 35px;
        }
      }
    }
    
    .footer-block_map {
      overflow: hidden;
    }
  }
}
.flex__column-reverse {
      @media screen and (max-width: 576px){
        flex-direction: column-reverse;
      }
    }

.custom_remove-margings {
  margin: 0px!important;
}

.custom__remove-padding-right {
  padding-right: 0px!important;
}

.remove-padding {
  padding: 0px!important;
}

.background-white_to-right{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff)!important;
}
.background-white_to-left{
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff)!important;
}