.contact-page-info-block {
  .contact-page-map {
    width: 100%;
    overflow: hidden;

    img { 
      max-width: 1182px;
    }
  }
  &__elem-highlighted-text {
    object-fit: contain;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #812dbd;
    @media (max-width: 576px) {
      font-size: 25px;
    }
  }
  a {
    color: #000!important;
  }
}