.kr {
  padding-bottom: 70px;
  &__main-promo {
    position: relative;
    .text {
      position: absolute;
      left: 30%;
      bottom: 42px;
      font-size: 55px;
      font-weight: bold;
      color: #fff;
      transform: translateX(-50%);
      @media (max-width: 576px) {
        bottom: 0px;
        transform: translateX(9%);
        font-size: 22px;
        max-width: 100%;
        left: 30px;
      }
    }
  }
  &__community {
    padding-left: 57px;
    padding-right: 57px;
    @media (max-width: 576px) {
      padding-left: 0!important;
      padding-right: 0!important;
    }
    &_centering-elements {
      @media screen and (max-width: 576px) {
        text-align: center;
      }
    }
    &.reset-paddings {
      padding: 0px!important;
    }
    &.px-5 {
      @media (max-width: 576px) {
        padding-left: 0!important;
        padding-right: 0!important;
      }
    }
    
  }
  &__community-item {
    background: #304493;
    margin-bottom: 19px;
    padding: 29px 48px 21px 65px;
    @media (max-width: 576px) {
     padding: 0px; 
     text-align: center;
    }
    > div:first-of-type {
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.7;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 31px;
    }
    > div:nth-of-type(2) {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      color: #ffffff;
      min-height: 140px;
    }
  }
  &__community-item-desc {
    padding-left: 65px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #304493;
    margin-bottom: 98px;
    @media (max-width: 576px) {
      padding: 0px;
    }
  }
  &__total {
    background: #35285d;
    padding: 55px 88px 60px;
    margin-bottom: 103px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 576px) {
      padding: 0px!important;
      margin: 0px!important;
    }
    .heading-highlighted {
      margin-bottom: 56px;
      width: 100%;
      @media (max-width: 576px) {
        margin: 20px 
      }
    }
    .item {
      margin-bottom: 37px;
      img {
        width: 100%;
        margin-bottom: 9px;
        @media (max-width: 576px) {
          width: 100%;
          height: auto;
        }
      }
      &:nth-of-type(7),&:nth-of-type(8),&:nth-of-type(9){
        margin-bottom: 0;
      }
      div {
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #ffffff;
        @media (max-width: 576px) {
          margin-left: 20px;
        }
        &:first-of-type {
          font-size: 26px;
          font-weight: bold;
          line-height: 1.77;
          position: relative;
          &:before {
            position: absolute;
            left: -31px;
            content: '';
            top: 15px;
            width: 19px;
            height: 19px;
            background: white;
            border-radius: 100%;
          }
        }
        &:nth-of-type(2) {
          font-size: 13px;
          min-height: 32px;
        }
      }
    }
  }
  &__operator{
    height: 234px;
    background-color: #d8d8d8;
    margin-bottom: 117px;
  }
}

.img-w-label {
  position: relative;
  text-align: right;
  margin-bottom: 50px;
  @media (max-width: 576px) {
    position: unset;
    text-align: center;
  }
  @media (min-width: 768px) {
    position: unset;
    text-align: center;
  }
  img {
    width: 369px;
    height: 246px;
  }
  .label {
    position: absolute;
    transform: translateY(50%);
    bottom: 0;
    left: 42px;
    padding: 12px 15px 20px;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    @media (max-width: 576px) {
      position: unset;
      text-align: center;
      // max-width: 160px;
      // width: 100%;
    }
    @media (min-width: 768px) {
      position: unset;
      text-align: center;
      max-width: 160px;
    }
    &.pink {
      background: #d0428e;
    }
    &.purple {
      background: #812dbd;
    }
  }
}

.slider-block {
  margin-top: 30px;
  &.kr{
    .owl-stage-outer {
      padding-left: 8rem;
      @media screen and (max-width: 576px){
        padding-left: 1rem;
      }
    }
    .heading-highlighted {
      margin-bottom: 37px;
    }
    .kr-slider-container {
      padding-left: 0;
      padding-right: 0;
      position: relative;
      .slider-fade-left {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        width: 100px;
        height: 400px;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
        @media screen and (max-width: 576px){
          display: none;
        }
        .btn-arrow {
          position: absolute;
          left: 46px;
          top: 150px;
          border: 0;
          border-radius: 100%;
          width: 66px;
          height: 66px;
          background-color: #cc4124;
          display: flex;
          &:hover { 
            background-color: #944b00;
          }
          img {
            margin: auto;
            transform: rotate(180deg);
          }
        }
      }
      .slider-fade-right {
        position: absolute;
        right: -1px;
        top: 0;
        z-index: 3;
        width: 100px;
        height: 400px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
        @media screen and (max-width: 576px){
          display: none;
        }
        .btn-arrow {
          position: absolute;
          right: 46px;
          top: 196px;
          border: 0;
          border-radius: 100%;
          width: 66px;
          height: 66px;
          background-color: #cc4124;
          display: flex;
          &:hover { 
            background-color: #944b00;
          }
          img {
            margin: auto
          }
        }
      }
      .owl-carousel {
        z-index: 2;
        position: relative;
      }
    }
    .slider-item {
      position: relative;
      min-height: 450px;
      width: 260px !important;
      @media screen and (max-width: 576px){
        width: unset!important;
        max-width: 100%;
      }
      img{
        width: 250px !important;
        height: 344px !important;
        @media screen and (max-width: 576px) {
          width: unset!important;
          max-width: 100%;
          object-fit: contain;
          margin: 0 auto;
        }
      }
      .name{
        background: #cc4124;
        position: absolute;
        transform: translateY(90%);
        bottom: 143px;
        left: -8px;
        padding: 12px 15px 20px;
        font-size: 26px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        @media screen and (max-width: 576px) {
           transform: translateY(90%) translateX(40%);
        }
      }
    }
  }
}

