.events, 
.news {
  .container-fluid .kr-slider-container {
    position: relative;
  }
  .slider-item {
    max-width: 342px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    @media screen and (max-width: 576px) {
        max-width: 320px;
        object-fit: contain;
    }
    img {
      max-width: 342px;
      max-height: 342px;
      @media screen and (max-width: 576px) {
        max-width: 320px!important;
        max-height: 221px;
        object-fit: contain;
      }
    }
    .date {
      position: absolute;
      transform: translateY(90%);
      top: 233px;
      left: -8px;
      padding: 10px 11px 10px;
      font-size: 26px;
      font-weight: bold;
      background: #fff;
      color: #000000;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
      @media screen and (max-width: 576px) {
        top: 125px;
        left: 20px;
      }
    }
    .text {
      object-fit: contain;
      font-size: 20px;
      font-weight: normal;
      color: #ffffff;
      margin-top: 20px;
      @media (max-width:576px) {
        margin-left: 35px;
        max-width: 280px!important;
        text-indent: 20px;
      }
    }
  }
  .slider-item .name {
    background: #cc4124;
    position: absolute;
    transform: translateY(90%);
    bottom: 143px;
    left: -8px;
    padding: 12px 15px 20px;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 25px;
  }
}
.news {
  .slider-item {
    .text {
      object-fit: contain;
      font-size: 20px;
      font-weight: normal;
      color: #ffffff;
      margin-top: 20px;
      @media (max-width:576px) {
        margin-left: 0px;
      }
    } 
  }
}
.events {
  background-color: #35285d;
  padding-bottom: 30px;
}

.news {
  .heading-highlighted {
    @media screen and (max-width: 576px) {
    margin-left: 67px;
    }
  }
}

/*--------------------------------------------EVENTS CLASSES--------------------------------------------*/