.trainers {
  .container {
    max-width: 1350px; 
  }
  &-container {
    &__element {
      margin-bottom: 25px; 
      &-image {
        margin-left: 15px;
        max-width: 360px;
        img {
          object-fit: contain;
          width: 100%;
        }
      }
      &-text {
        padding: 10px 25px 0px 30px; 
        height: 229px;
        max-width: 376px;
        background-color: #812dbd;
        h3 {
          padding-top: 15px;
          font-size: 26px; 
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #ffffff;
          @media (max-width: 576px) {
            font-size: 21px;
          }
        }
        p {
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.1;
          letter-spacing: normal;
          color: #ffffff;
          @media (max-width: 576px) {
            font-size: 18px; 
          }
        }
      }
    }
  }
}