body {
    font-family: 'Gotham Pro',san-serif;
    overflow-x: hidden;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    &.fixed-head{
        padding-top: 161px;

    }
}
button {
    outline: none !important;
    cursor: pointer;
}

.bold {
    font-weight: bold!important;
}

.remove-borders-nav-bar {
    border-color: rgba(255,255,255, 0)!important;
}

.navbar-custom-padding {
    @media screen and (max-width: 576px) {
        padding: 17px 20px 0px 30px!important;
    }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

//POPUP STYLES IN TRAINERS PAGE
@media (min-width: 992px) {
    .modal-lg {
        max-width: 1134px;
    }
}

.modal {
    &-header {
        border-bottom: none!important;
        .close {
            background-image: url(../assets/images/trainers/combined-shape.svg);
            width: 32.5px;
            height: 32.5px;
            margin: 0rem 0rem -1rem auto!important;
        }
    }
    &-body {
        &__img {
            text-align: center;
            img {
                width: 100%;
            }
        }
        &__text {
            padding-right: 3rem!important;
            @media (max-width: 576px) {
                padding-right: 0px!important;
            }
            &-header {
                font-size: 26px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
                padding-right: 3rem!important;
                @media (max-width: 576px) {
                    margin-top: 20px;
                    padding-right: 0px!important;
                }
            }
            &-body {
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.1;
                letter-spacing: normal;
                color: #000000;
                @media (max-width: 576px) {
                    font-size: 17px;
                }
            }
            &-body_details {
                font-size: 13px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.38;
                letter-spacing: normal;
                color: #000000;
                a:link {
                    color: #8223c0;
                }
            }
        }
    }
}

.custom_px-5_mx-0 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
    margin-left: 0!important; 
    margin-right: 0!important;
    @media (max-width: 576px) {
        margin: 0px!important;
        padding: 0px!important;
    }
}
$black:#282b2d